*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

:root {
  /* font-color */
  --color-1: rgb(0, 0, 0);
  --color-2: rgb(255, 255, 255);
  --color-3: rgb(28, 12, 83);
  --color-4: rgb(10, 211, 150);
  --color-5: rgb(183, 183, 183);
  --color-6: rgb(10, 211, 150);
  --color-7: rgb(236, 236, 236);
  --color-8: rgb(209, 209, 209);
  --color-9: rgb(240, 243, 244);
  --color-10: rgb(10, 189, 135);
  --color-11: rgb(149, 149, 149);

  /* background-color */
  --background-color-1: rgb(0, 0, 0);
  --background-color-2: rgb(255, 255, 255);
  --background-color-3: rgb(28, 12, 83);
  --background-color-4: rgb(10, 211, 150);
  --background-color-5: rgb(183, 183, 183);
  --background-color-6: rgb(10, 211, 149);
  --background-color-7: rgb(236, 236, 236);
  --background-color-8: rgb(209, 209, 209);
  --background-color-9: rgb(240, 243, 244);
  --background-color-10: rgb(10, 189, 135);
  --background-color-11: rgb(149, 149, 149);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  position: relative;
}

.page::after {
  content: "";
  width: 70px;
  height: 56px;
  display: block;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 35px;
  transform: translateX(-50%);
  background: url(../images/artmax-icon.svg) no-repeat center / 95%;
}

@media (min-width: 480px) {
  .page::after {
    width: 77px;
    height: 58px;
    inset-block-start: 27px;
  }
}

.wrapper {
  width: 300px;
  margin: 0 auto;
}

.button {
  min-height: 58px;
  border-radius: 60px;
  padding: 18px 30px;
  color: var(--color-2);
  font: inherit;
  font-weight: 500;
  text-align: center;
  background-color: var(--background-color-4);
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(10, 189, 135);
}

.title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.2;

  @media (min-width: 640px) {
    font-size: 3.6rem;
  }

  @media (min-width: 960px) {
    font-size: 4.8rem;
    line-height: 1.2;
  }
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-3);
}

.main-nav {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.artmax-logo {
  position: relative;
  z-index: 2;
}

.artmax-logo__image {
  display: block;
}

.button-applictation {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.introduce {
  position: relative;
  min-height: 100vh;
  padding-top: 385px;
  padding-bottom: 39px;
  background: var(--background-color-3) url(../images/introduce-background.jpg)
    no-repeat center / cover;

  @media (min-width: 480px) {
    padding-bottom: 41px;
  }

  @media (min-width: 640px) {
    padding-top: 380px;
  }

  @media (min-width: 960px) {
    padding-top: 340px;
    padding-bottom: 187px;
  }
}

.introduce__logo {
  position: relative;
  z-index: 1;
  display: block;
  width: 95%;
  margin: 0 auto 225px;

  @media (min-width: 640px) {
    width: 621px;
    margin-bottom: 162px;
  }

  @media (min-width: 960px) {
    width: 931px;
    height: 159px;
    margin-bottom: 52px;
  }
}

.introduce__text {
  position: relative;
  z-index: 1;
  color: var(--color-2);
  line-height: 1.5;
  text-align: center;

  @media (min-width: 480px) {
    width: 350px;
  }

  @media (min-width: 640px) {
    width: 78%;
    font-size: 2rem;
    line-height: 1.55;
  }

  @media (min-width: 960px) {
    width: 65%;
    font-size: 2rem;
    line-height: 1.55;
  }
}

.about {
  padding-top: 44px;
  padding-bottom: 78px;

  @media (min-width: 480px) {
    padding-top: 54px;
    padding-bottom: 95px;
  }

  @media (min-width: 640px) {
    padding-top: 75px;
    padding-bottom: 117px;
  }

  @media (min-width: 960px) {
    padding-top: 113px;
  }
}

.about__wrapper {
  @media (min-width: 960px) {
    width: 938px;
    margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 469px);
  grid-template-rows: repeat(4, auto);
  }
}

.about__title {
  margin-bottom: 22px;

  @media (min-width: 480px) {
    width: 457px;
  }

  @media (min-width: 640px) {
    width: 617px;
    margin: 0 auto 44px;
  }

  @media (min-width: 960px) {
    width: 938px;
    margin: 0 auto 48px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.about__text-wrapper {
  @media (min-width: 640px) {
    width: 617px;
    margin: 0 auto 64px;
  }

  @media (min-width: 960px) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    padding-left: 10px;
    margin: 0 0 35px;
    width: 457px;
  }
}

.about__subtitle {
  margin-bottom: 1.5em;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.55;

  @media (min-width: 480px) {
    width: 458px;
  }

  @media (min-width: 640px) {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 30px;
    width: auto;
  }
}

.about__text {
  margin-bottom: 43px;
  font-size: 1.6rem;
  line-height: 1.55;

  @media (min-width: 480px) {
    width: 458px;
    margin-bottom: 99px;
  }

  @media (min-width: 640px) {
    margin: 0;
    font-size: 1.8rem;
    width: auto;
  }
}

.about__info-wrapper {
  @media (min-width: 640px) {
    position: relative;
    width: 640px;
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(2, auto);
    row-gap: 40px;
    margin: 0 auto;
  }

  @media (min-width: 960px) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    row-gap: 0;
  }
}
 
.about__image-wrapper {
  margin: 0 auto 82px;
  width: 286px;
  height: 286px;

  @media (min-width: 480px) {
    width: 387px;
    height: 387px;
    margin-bottom: 84px;
  }

  @media (min-width: 640px) {
    width: 317px;
    height: 317px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    position: absolute;
    top: 29px;
    left: -81px;
    margin-bottom: 0;
  }

  @media (min-width: 960px) {
    width: 379px;
    height: 379px;
    top: -287px;
    left: -150px;
  }
}

.about__image {
  display: block;
  border-radius: 50%;

  @media (min-width: 480px) {
    width: 387px;
  }

  @media (min-width: 640px) {
    width: 317px;
    height: 317px;
  }

  @media (min-width: 960px) {
    width: auto;
    height: auto;
  }
}

.about__list-description {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  margin-bottom: 32px;

  @media (min-width: 480px) {
    margin-bottom: 25px;
  }

  @media (min-width: 640px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
  }

  @media (min-width: 960px) {
    margin-bottom: 47px;
  }
}

.about__list-description-item {
  position: relative;
  width: 300px;
  min-height: 96px;
  margin: 0 auto;
  padding-left: 24px;

  @media (min-width: 480px) {
    width: 346px;
    padding-left: 69px;
  }

  @media (min-width: 640px) {
    width: 300px;
    margin: 0;
    padding-left: 34px;
  }
}

.about__list-description-item::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 2px;
  height: 96px;
  background-color: var(--background-color-7);
}

@media (min-width: 480px) {
  .about__list-description-item::before {
    inset-inline-start: 43px;
  }
}

@media (min-width: 640px) {
  .about__list-description-item::before {
    inset-inline-start: 9px;
    inset-block-start: -2px;
  }
}

.about__list-description-item::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 2px;
  height: 24px;
  background-color: var(--background-color-6);
}

@media (min-width: 480px) {
  .about__list-description-item::after {
    inset-inline-start: 43px;
  }
}

@media (min-width: 640px) {
  .about__list-description-item::after {
    inset-inline-start: 9px;
    inset-block-start: -2px;
  }
}

.about__list-title {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}

.about__list-title-accent {
  padding-left: 5px;
  color: var(--color-5);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.55;
  text-transform: uppercase;
}

.about__submit {
  display: block;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0px 14px 24px 0px rgba(71, 71, 71, 0.1);

  @media (min-width: 480px) {
    width: 458px;
  }

  @media (min-width: 640px) {
    width: 298px;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    position: relative;
    left: 7px;
  }

  @media (min-width: 960px) {
    width: 316px;
  }
}

.services {
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: var(--background-color-9);

  @media (min-width: 480px) {
    padding-top: 84px;
  }

  @media (min-width: 640px) {
    padding-top: 112px;
  }
}

.services__title {
  margin-bottom: 29px;

  @media (min-width: 480px) {
    width: 458px;
  }

  @media (min-width: 640px) {
    width: 619px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.services__select-wrapper {
  margin: 0 auto;
  margin-bottom: 25px;
}

.services__select-content {
  position: relative;
  width: calc(100% - 40px);
  height: 55px;
  margin: 0 auto 20px;

  @media (min-width: 640px) {
    position: relative;
    left: 50%;
    width: 600px;
    margin: 0;
    margin-bottom: 35px;
    transform: translateX(-310px);
  }
}

.services__select-content::before {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  width: 8px;
  height: 8px;
  background: url("../images/services-triangle-icon.svg") no-repeat;
  background-position: center center;
  background-size: 8px 8px;
  transform: rotate(180deg);
  inset-inline-end: 22px;
  inset-block-start: 25px;
}

.services__select-list {
  width: 100%;
  height: 100%;
  border: 2px solid var(--background-color-6);
  padding: 16px 40px 16px 20px;
  color: var(--color-6);
  font-weight: 700;
  font-size: inherit;
  background-color: var(--background-color-9);
}

.services__select-list:focus-visible {
  outline: none;
}

.services__content-wrapper_protect_attack {
  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto 42px;
  }
}

.services__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  @media (min-width: 480px) {
    width: 460px;
    margin-bottom: 27px;
  }

  @media (min-width: 640px) {
    width: 311px;
    margin: 0;
    margin-right: 35px;
  }
}

.services__text {
  line-height: 1.55;

  @media (min-width: 640px) {
    font-size: 1.8rem;
  }
}

.services__text:first-of-type {
  margin-bottom: 1.5em;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @media (min-width: 640px) {
    width: 274px;
    margin: 0;
  }
}

.services__item {
  position: relative;
  width: 274px;
  margin: 0 auto;
  border: 1px solid var(--background-color-8);
  border-radius: 10px;
  padding: 22px 11px 20px 48px;

  @media (min-width: 480px) {
    padding: 23px 2px 28px 53px;
  }
}

.services__item::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 12px;
  display: block;
  width: 19px;
  height: 24px;
  background: url("../images/services-icon.svg") no-repeat;
}

@media (min-width: 480px) {
  .services__item::before {
    left: 22px;
  }
}

.services__item:nth-child(1) {
  @media (min-width: 480px) {
    order: 1;
  }
}

.services__item:nth-child(2) {
  @media (min-width: 480px) {
    order: 3;
  }
}

.services__item:nth-child(3) {
  @media (min-width: 480px) {
    order: 2;
  }
}

.services__item:nth-child(4) {
  @media (min-width: 480px) {
    order: 4;
  }
}

.services__item-text {
  font-weight: 700;
  line-height: 1.55;
}

.services__submit-wrapper {
  @media (min-width: 640px) {
    width: 620px;
    margin: 0 auto;
  }
}

.services__submit {
  display: block;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0px 14px 22px 0px rgba(71, 71, 71, 0.1);

  @media (min-width: 480px) {
    width: 458px;
  }

  @media (min-width: 640px) {
    width: 316px;
    margin: 0;
  }
}

.form {
  padding-top: 60px;
  background: url("../images/form-circle-image-mobile.png") no-repeat;
  background-position: top -57px left 234px;
  background-size: 419px 660px;

  @media (min-width: 480px) {
    padding-top: 75px;
  }

  @media (min-width: 640px) {
    padding-bottom: 71px;
    background: url("../images/form-circle-image-tablet.svg") no-repeat;
    background-position: top -120px left 510px;
  }
}

.form__title {
  margin-bottom: 34px;

  @media (min-width: 480px) {
    width: 373px;
    margin: 0 auto 27px;
  }

  @media (min-width: 640px) {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
}

.form__title br {
  display: none;

  @media (min-width: 640px) {
    display: block;
  }
}

.main-form {
  margin: 0;
  padding-top: 68px;
  padding-bottom: 87px;
  background-color: var(--background-color-9);

  @media (min-width: 480px) {
    margin: 0 auto;
    padding-bottom: 96px;
    border-radius: 30px 30px 0 0;
  }

  @media (min-width: 620px) {
    width: 620px;
  }

  @media (min-width: 640px) {
    width: 620px;
    padding: 68px 61px 55px;
    margin: 0 auto;
    border-radius: 30px;
  }
}

.main-form__field_checkbox {
  color: var(--color-11);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.3;
}

.main-form__field {
  margin-bottom: 25px;

  @media (min-width: 480px) {
    width: 457px;
  }

  @media (min-width: 640px) {
    width: 498px;
  }
}

.main-form__field_tel {
  margin-bottom: 20px;
}

.main-form__field_checkbox {
  margin-bottom: 20px;
}

.main-form__field_checkbox a {
  color: var(--color-6);
}

.main-form__input {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 5px;
  padding: 26px 20px 10px;
  font-size: inherit;
  line-height: 1.3;

  @media (min-width: 480px) {
    width: inherit;
  }

}

.main-form__input:focus {
  outline: none;
}

.main-form__input_checkbox {
  width: initial;
  height: initial;
}

.main-form__input_checkbox::after {
  content: "";
}

.main-form__submit {
  display: block;
  width: 276px;
  position: relative;
  left: 50%;
  transform: translateX(-54%);

  @media (min-width: 480px) {
    position: relative;
    left: 50%;
    margin: 0;
    transform: translateX(-83%);
    font-weight: 600;
  }

  @media (min-width: 640px) {
    position: relative;
    left: 50%;
    margin: 0;
    transform: translateX(-249px);
  }
}

.main-form__input-tick {
  content: "";
  position: relative;
  top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 2px solid var(--background-color-6);
}

.main-form__input-tick::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  display: none;
  width: 5px;
  height: 9px;
  border: solid var(--background-color-6);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .main-form__input-tick::before {
  display: block;
}

.footer {
  padding: 45px 0 32px;
  background: var(--background-color-3)
    url("../images/introduce-background.jpg") center / cover;

  @media (min-width: 480px) {
    padding: 51px 21px 43px 20px;
  }
}

.footer__wrapper {
  @media (min-width: 640px) {
    display: grid;
    grid-template-rows: 71px auto auto;
    column-gap: 34px;
    width: 600px;
    margin: 0 auto;
    grid-template-columns: 255px 320px;
  }
}

.footer__logo {
  display: block;
  margin: 0 auto 34px;

  @media (min-width: 640px) {
    margin-bottom: 42px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 0 39px;
  }

  @media (min-width: 480px) {
    margin-bottom: 42px;
  }
}

.footer__address {
  width: 100%;
  margin: 0 auto 28px;
  color: rgb(255 255 255 / 0.5);
  font: 400 1.4rem /1.85 "Montserrat", sans-serif;
  text-align: center;

  @media (min-width: 480px) {
    margin-bottom: 11px;
  }

  @media (min-width: 640px) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 0 20px;
    text-align: left;
  }
}

.footer__map {
  width: 100%;
  margin: 0 auto 35px;

  @media (min-width: 337px) {
    width: 320px;
  }

  @media (min-width: 480px) {
    margin-bottom: 27px;
  }

  @media (min-width: 640px) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 0;
  }
}

.footer__map iframe {
  width: 100%;
}

.foooter__privacy-policy-link {
  display: block;
  max-width: 210px;
  margin: 0 auto;
  color: rgb(255 255 255 / 0.5);
  font: 400 1.2rem /1.85 "Montserrat", sans-serif;

  @media (min-width: 640px) {
    margin: 0;
  }
}
