html {
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
blockquote,
ul,
ol {
  margin: 0;
  padding: 0;
}

.page {
  font-family: Montserrat, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 12, 83);
}

.header {
  padding-top: 37px;
  display: flex;
  justify-content: center;
}

.main-nav {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.artmax-logo__image {
  display: block;
}

.button-applictation {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.introduce {
  padding-top: 153px;
}

.introduce__logo {
  margin-bottom: 85px;
}

.introduce_text {
  
}
